.row {
    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 2rem;


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^='col-'] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(((100% - 2 * #{$gutter-horizontal}) / 3) * 2 + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-3-of-4 {
        width: calc(((100% - 3 * #{$gutter-horizontal}) / 4) * 3 + 2 * #{$gutter-horizontal});
    }

}


            // <section>
            //     <div class="row">
            //         <div class="col-1-of-2">
            //             col 1 of 2
            //         </div>

            //         <div class="col-1-of-2">
            //             col 1 of 2
            //         </div>
            //     </div>

            //     <div class="row">
            //         <div class="col-1-of-3">
            //             col 1 of 3
            //         </div>

            //         <div class="col-1-of-3">
            //             col 1 of 3
            //         </div>

            //         <div class="col-1-of-3">
            //             col 1 of 3
            //         </div>
            //     </div>

            //     <div class="row">
            //         <div class="col-1-of-3">
            //             col 1 of 3
            //         </div>

            //         <div class="col-2-of-3">
            //             col 2 of 3
            //         </div>
            //     </div>

            //     <div class="row">
            //         <div class="col-1-of-4">
            //             col 1 of 3
            //         </div>

            //         <div class="col-1-of-4">
            //             col 2 of 3
            //         </div>

            //         <div class="col-1-of-4">
            //             col 1 of 3
            //         </div>

            //         <div class="col-1-of-4">
            //             col 2 of 3
            //         </div>
            //     </div>


            //     <div class="row">
            //         <div class="col-1-of-4">
            //             col 1 of 3
            //         </div>

            //         <div class="col-3-of-4">
            //             col 2 of 3
            //         </div>
            //     </div>
            // </section>